.list-container {
    // padding: 20px;
    
    .search-form {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      
      :deep(.el-form-item) {
        margin-bottom: 0;
      }
    }
    
    .table-card {
      margin-top: 8px;
      
      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .header-title {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
    
    .pagination-container {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }